<div class="django-unarchive">
    <style>
        .django-unarchive {
            display: flex;
        }

        .django-unarchive .active{
            color: green;
        }

        .django-unarchive .no-active{
            color: red;
        }

        .loader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            animation: rotate 1s linear infinite
        }

        .loader::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #000;
            animation: prixClipFix 2s linear infinite ;
        }
    
        @keyframes rotate {
        100%   {transform: rotate(360deg)}
        }
    
        @keyframes prixClipFix {
            0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
            25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
            50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
            75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
            100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
        }
    </style>
    <span class="server_status_display"></span>
    <button
        type="button"
        disabled="disabled"
        class="unarchive_button {{ css_classes }}"
        data-on-success-url="{{ on_success_url }}"
        data-test-on-success-url="{{ test_on_success_url }}"
        data-status-url="{% url 'django_clouding_unarchive:server-status' %}{% if server_id %}?server_id={{ server_id }}{% endif %}"
        data-unarchive-url="{% url 'django_clouding_unarchive:unarchive-server' %}{% if server_id %}?server_id={{ server_id }}{% endif %}"
        data-ready="false"
        data-setup=""
    >{% if label %}{{ label }}{% else %}Wake up the server{% endif %}</button>
    <span class="loader spinner" style="visibility:hidden"></span> 
    <script type="module">
        function show_spinner(container){
            let spinner = container.querySelector('.spinner');
            spinner.style.visibility = 'visible';
        }
        
        function hide_spinner(container){
            let spinner = container.querySelector('.spinner');
            spinner.style.visibility = 'hidden';
        }

        function display_status(container){
            let server_status_display = container.querySelector('.server_status_display');
            let unarchive_button = container.querySelector('.unarchive_button');
            let status = server_status_display.dataset.status;
            let url = unarchive_button.dataset.onSuccessUrl;
            let test_url = unarchive_button.dataset.testOnSuccessUrl;
            let ready = server_status_display.dataset.ready;
            
            if (status == "Error"){
                server_status_display.innerHTML = `Error while waking up the server`;
                unarchive_button.disabled = "";
                return;
            }

            if (status == "Active"){
                unarchive_button.disabled = "disabled";
                server_status_display.innerHTML = `Server is <span class="active">${status}</span>`;

                if (url && (test_url && ready || !test_url)){
                    server_status_display.innerHTML += `Server is ready, <a href="${url}" target="_blank">Click here</a>`;
                } else if (url && test_url && !ready)
                    server_status_display.innerHTML += `Waiting for server to be ready...`;
            } else {
                server_status_display.innerHTML = `Server is <span class="no-active">${status}</span>`;
                unarchive_button.disabled = "";
            }
        }

        function update_status_until_active_success_url(url, container){
            let server_status_display = container.querySelector('.server_status_display');
            // fetch('https://corsproxy.io/?' + encodeURIComponent(url), {method: 'HEAD'})
            fetch(url, {method: 'HEAD'})
            .then(response => {
                server_status_display.dataset.ready = response.ok;
                display_status(container);
                if (!response.ok)
                    return Promise.reject(response);
            }).catch(err => {
                server_status_display.dataset.ready = false;
                display_status(container);
                setTimeout(() => update_status_until_active_success_url(url, container), 5000);
            });
        }

        function update_status_until_active(container){
            let server_status_display = container.querySelector('.server_status_display');
            let unarchive_button = container.querySelector('.unarchive_button');

            fetch(unarchive_button.dataset.statusUrl)
            .then(response => response.text())
            .then(response_text => {
                console.log(response_text);
                server_status_display.dataset.status = response_text;
                display_status(container);
                if(response_text != "Active" ){
                    setTimeout(() => update_status_until_active(container), 5000);
                } else {
                    if( unarchive_button.dataset.onSuccessUrl && unarchive_button.dataset.testOnSuccessUrl ){
                        update_status_until_active_success_url(unarchive_button.dataset.onSuccessUrl, container);
                    }
                    hide_spinner(container);
                }
            }).catch(err => {
                console.log(err);
                server_status_display.dataset.status = "Error";
                display_status(container);
                unarchive_button.disabled = "";
            });
        }

        function unarchive(event){
            let container = event.target.parentElement;
            let unarchive_button = event.target;
            let server_status_display = container.querySelector('.server_status_display');
            show_spinner(container);
            unarchive_button.disabled = "disabled";
            fetch(unarchive_button.dataset.unarchiveUrl)
            .then(response => response.text())
            .then(response_text => {
                console.log(response_text);
                update_status_until_active(container);
            }).catch(err => {
                console.log(err);
                server_status_display.dataset.status = "Error";
                display_status(container);
                unarchive_button.disabled = "";
            });
        }

        for (let button of document.querySelectorAll('.unarchive_button')){
            if( button.dataset.setup == "setup" )
                continue;
            let server_status_display = button.parentElement.querySelector('.server_status_display');
            button.dataset.setup = "setup";
            let container = button.parentElement;
            button.addEventListener("click", unarchive);

            show_spinner(container);
            fetch(button.dataset.statusUrl)
            .then(response => response.text())
            .then(response_text => {
                console.log(response_text);
                server_status_display.dataset.status = response_text;
                if (response_text == "Active")
                    server_status_display.dataset.ready = true;
                display_status(container);
            }).catch(err => {
                console.log(err);
                server_status_display.dataset.status = "Error";
                display_status(container);
            }).finally(() => {
                hide_spinner(container);
            });
        }
    </script>
</div>